---
layout: layout
title: Una Kravets' Portfolio
---

<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="{{ site.description }}">
	<title> {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<main role="main">
		{{ content }}

		<ul class="entries">
			{% for post in site.posts %}
			<li>
				<a href="{{ post.url }}">
					<img src="{{ post.image-index }}" alt="{{ post.title }}"></img>
					<h3>{{ post.title }}</h3>
				</a>
			</li>
		 
			{% endfor %}
		</ul>
</main>
 
		<footer role="contentinfo">
			<p>&copy; Una Kravets 2014 | All Rights Reserved. </p>
		</footer>
 
	</div>
</body>
</html>
