---
layout: layout
title: Una Kravets' Portfolio
image-bg: http://25.media.tumblr.com/09d144943802daad98c4556e0961eb66/tumblr_mzzqxabKjH1st5lhmo1_1280.jpg
---

<header role="banner" class="home-about">
	<div class="about-me pink">
		<h1>Hi, I'm Una!</h1>
		<p class="title">I write about <a href="http://blog.unakravets.com">code</a> and make other cool things, too:</p>
	</div>
</header>

<main role="main">
		{{ content }}
		<div class="cs__intro-bg">
			<img src="{{ page.image-bg }}" alt="{{ page.title }} background">
			<div class="shader"></div>
		</div>
		<ul class="cs--list">
		{% for post in site.posts reversed %}
			{% if post.title != 'Style Guide' %}
			<li class="{{ post.color }}">
				<a class="cs--bar" href="{{ post.url }}">
					<img src="{{ post.image-index }}" alt="{{ post.title }}"></img>
				</a>
			</li>
		 	{% endif %}
		{% endfor %}
		</ul>
</main>