body {
	margin: 0;
	padding: 0;
	@extend %font-copy;
	font-size: 16px;
}

* {
	@include box-sizing(border-box);
}

::selection {
	color: white;
	background: hotpink;
}

::-moz-selection {
	color: white;
	background: hotpink;
}

.row {
	overflow: hidden;
	position: relative;
	width: 100%
}

hr {
	margin: 1em 0 3em;
	top: 1px solid $color--copy;
	bottom: 0px solid transparent;
}

.js-fadeIn {
	@include transition-duration(0.8s);
	opacity: 0;
}

//fix later
.has-tooltip {
	position: relative;

	 .tooltip {
	 	@extend %font-title;
	 	@include fontsize(12);
		background: hotpink;
		bottom: 100%;
		color: #fff;
		display: block;
		left: -50%;
		margin-bottom: 15px;
		opacity: 0;
		padding: 0.5em;
		position: absolute;
		visibility: hidden;
		@include transform(translateY(10px));
		@include transition(all .25s ease-out);

		&:before {
		bottom: -0.5em;
		content: "";
		display: block;
		height: 0.5em;
		left: 0;
		position: absolute;
		width: 100%;
		}

		&:after {
		border-left: solid transparent 10px;
		border-right: solid transparent 10px;
		border-top: solid hotpink 10px;
		bottom: -10px;
		content: " ";
		height: 0;
		left: 50%;
		margin-left: -13px;
		position: absolute;
		width: 0;
		}
	}
}

.has-tooltip:hover .tooltip {
    opacity: 1;
    visibility: visible;
    @include transform(translateY(0px));
}
