<header class="cs__intro-section contain-1100 {{ page.color }}">
	<h1>{{ page.title }}</h1>
	<h3>Challenge:
		<span class="marked"> {{ page.challenge }}</span>
	</h3>
	<h3>Roles: 
		{% for role in page.roles %}
			<span class="marked">{{ role }}</span>
		{% endfor %}
	</h3>
	<div class="cs__intro-bg">
		<img src="{{ page.image-bg }}" alt="{{ page.title }} background">
		<div class="shader"></div>
	</div>
</header>

<main role="main" class="cs-main {{ page.class }} {{ page.color }}">
	<div class="center-contain">
		<div class="cs--top-image--container">
			<img class="cs--top-image" src="{{ page.image-top }}" alt="{{ page.title }}">
		</div>
		<h1 class="cs--inverted">{{ page.summary }}</h1>
	</div>

