<div class="menu-section {% if page.url == '/' %} homepage {% endif %}">
	<div class="menu-section__toggle">
		<div class="toggle--1"></div>
		<div class="toggle--2"></div>
		<div class="toggle--3"></div>
	</div>
	<nav>
		<ul role="navigation" class="hidden">
			<li><a href="/">Work</a></li>
			<li><a href="/about.html">About</a></li>
<!-- 			<li><a href="#">Contact</a></li>
 -->		<li><a href="http://blog.unakravets.com" target="_blank">Blog</a></li>
			<li><a href="http://sketchbook.unakravets.com" target="_blank">Sketchbook</a></li>
			<!-- <li><a href="http://twitter.com/una" target="_blank">Twitter</a></li>
			<li><a href="http://codepen.io/unax3" target="_blank" >Codepen</a></li>
			<li><a href="http://dribbbleboard.com/#una" target="_blank" >Dribbble</a></li>
			<li><a href="http://github.com/una" target="_blank" >Github</a></li> -->
		</ul>
	</nav>
</div>