<!doctype html>
<html>
<head>
	<meta name="description" content="{{ site.description }}">
	<meta charset="UTF-8">
	<title> {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>

	<link href='http://fonts.googleapis.com/css?family=Elsie:900|Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>

<div class="menu-section">
	<div class="menu-toggle">
		<div class="one"></div>
		<div class="two"></div>
		<div class="three"></div>
	</div>
	<nav>
		<ul role="navigation" class="hidden">
			<li><a href="#">work</a></li>
			<li><a href="#">about</a></li>
			<li><a href="#">resume</a></li>
			<li><a href="#">contact</a></li>
		</ul>
	</nav>
</div>