<div class="menu-section">
	<div class="menu-section__toggle">
		<div class="toggle--1"></div>
		<div class="toggle--2"></div>
		<div class="toggle--3"></div>
	</div>
	<nav>
		<ul role="navigation" class="hidden">
			<li><a href="/">Work</a></li>
			<li><a href="https://una.im/about/">About</a></li>
			<li><a href="mailto:una@ukrave.us?subject=Hello There!&amp;body=Hi Una, so I was looking at your portfolio and...">Contact</a></li>
      <li><a href="http://una.im" target="_blank">Blog</a></li>
		</ul>
	</nav>
</div>
