.about--main {
	max-width: 80%;
	margin: 50px 0 -3px -10%;
	
}

.about-page {
	background-color: white; 
}

.about--info {
	display: block;
	max-width: 500px;
	float: right;
	margin-top: -50%;
	z-index: 2;
	position: relative;
	
	h2 {
		margin-left: 0;
	}

	p {
		@include fontsize(12);
		
		@include breakpoint($phone-horiz) {
			@include fontsize(10);
		}
	}

	a {
		color: hotpink;
		&:hover {
			background: hotpink;
			color: white;
		}
	}

	span {
		font-weight: 800;
	}
}