body {
	margin: 0;
	padding: 0;
	//background-color: $color--grey;
}

* {
	@include box-sizing(border-box);
}

%contain-1100,
.contain-1100 {
	max-width: 1100px;
	margin: 0 auto;
}

%left,
.left {
	float: left;
	padding-right: 2em;
	
	@include breakpoint($small-tab) {
		padding-right: 0;
	}
}

%right,
.right {
	float: right;
	padding-left: 2em;
	
	@include breakpoint($small-tab) {
		padding-left: 0;
	}
}

.clear,
%clear {
	clear: both;
}

blockquote.right {
	-ms-text-align: right;
	text-align: right;
}

%center,
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

::selection {
	color: white;
	background: $color--orange;
}

::-moz-selection {
	color: white;
	background: $color--orange;
}

.row {
	overflow: hidden;
	position: relative;
	width: 100%
}

hr {
	margin: 1em 0 3em;
	top: 1px solid $color--copy;
	bottom: 0px solid transparent;
}

.js-fadeIn {
	@include transition-duration(0.8s);
	opacity: 0;
}

h1,
h2,
h3,
h4,
blockquote,
p {
	@include breakpoint($page-container) {
		margin: 0 1rem;
	}
}