.cs--list {

	li {
	width: 100%;
	
		img {
			margin: 0 auto;
			max-width: 100%;
		}

		h2 {
			@include fontsize(36); 
		}

		.gold h2{
			color: $color--gold;
		}

		.blue h2{
			color: $color--blue;
		}

		.orange h2{
			color: $color--orange;
		}
	}
}

.cs--bar {
	display: block;
}

.home-about {
	height: 600px;
	display: block;
	background-image: image-url('home/una-kravets.png');
	background-size: 800px;
	background-repeat: no-repeat;
	background-position: 0% 100%;
	border-bottom: 1px solid black;
}

.about-me {
	max-width: 550px;
	float: right;
	padding: 5em;
	h1 {
		line-height: 2;
	}
	p {
		line-height: 1.4;
	}
}