.cs--list {

	li {
	width: 100%;
	
		img {
			height: 50px;
			width: 50px;
			float: left;
		}

		h2 {
			color: white;
			@include fontsize(36); 
		}

		&:nth-child(3n+1) {
			background-color: $color--gold;
		}		
		&:nth-child(3n+2) {
			background-color: $color--blue;
		}		
		&:nth-child(3n+3) {
			background-color: $color--orange;
		}
	}
}

.cs--bar {
	text-decoration: none;
	padding: 4em;
	width: 100%;
	height: 100%;
	display: block;
}