.menu-section {
	z-index: 10;
	position: relative;
	@include transition-duration(0.3s);
	
	&.on {
	z-index: 10;
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba(255,99,71,0.9);
	position: absolute;
	}
}

.menu-section__toggle {
	width: 40px;
	height: 30px;
	position: absolute;
	top: 20px;
	right: 25px;
	cursor: pointer;
	
	&.on {
		.toggle--1 {
			@include transform(rotate(45deg) translate(7px, 7px));
		}

		.toggle--2 {
			opacity: 0;
		}

		.toggle--3 {
			@include transform (rotate(-45deg) translate(8px, -10px));
		}
	}
}

.toggle--1,
.toggle--2,
.toggle--3{
	width: 100%;
	height: 5px;
	background: white;
	margin: 6px auto;
	backface-visibility: hidden;
	@include transition-duration(0.3s);
}

nav ul{
	margin: 0;
	padding: 0;
	font-family: Open Sans;
	list-style: none;
	margin: 4em auto;
	text-align: center;
	
	&.hidden {
		display: none;
	}
		
		a {
		@include transition-duration(0.5s);
		text-decoration: none;
		color: white;
		font-size: 3em;
		line-height: 1.5;
		width: 100%;
		display: block;
			&:hover {
				background-color: rgba(255,255,255,0.8);
				color: $color--orange;
			}
		}
}