.pagination {
	@extend %font-title;
	background-color: white;
	width: 100%;
	padding: 1em 0 2em;
	border-top: 1px solid $color--copy;
	display: block;
	
	a {
		text-decoration: none;
		@include fontsize(12);
	}
}