.resume {
	display: block;
	overflow: hidden;
	color: $color--copy;
	line-height: 1.6;
	margin-bottom: 4em;
	@include fontsize(10);
	
	h2 {
		@include fontsize(22);
		color: white;
		background: cornflowerblue;
		padding: 0 0.5em;
		margin: 1.5em 0 0.5em;
		font-weight: 800;

		span {
			margin-right: 0.5em;
			font-size: 80%; 
		}
	}

	.bold {
		font-weight: 800;
	}

	a {
		color: hotpink;
		&:hover {
			background: hotpink;
			color: white;
		}
	}

	h3 {
		color: cornflowerblue;
		line-height: 1.2;
		@include fontsize(16);
		font-weight: 400;
		//margin-left: -5%;
		margin-top: 1.5em;
	}
	ul {

		&.right {
			padding-right: none;
		}
	}

	li {
		@include fontsize(10);
		margin-top: 1em;
		//margin-left: 5%;
	}

	.resume-l {
		max-width: 60%;
		float: left;
		padding-right: 15%;
	}

	.resume-r {
		max-width: 40%;
		float: left;
	}

	// .half {
	// 	//padding: 2em;
	// }
}