.resume {
	display: block;
	overflow: hidden;
	color: $color--copy;
	line-height: 1.6;
	
	h2 {
		@include fontsize(18);
		color: cornflowerblue;
	}
	a {
		color: cornflowerblue;
	}
	h3 {
		color: cornflowerblue;
		line-height: 1.2;
		@include fontsize(16);
		font-weight: 400;
		margin-left: -5%;
	}
	ul {
		//max-width: 50%;
		//padding-right: 2%;
		
		&.right {
			padding-right: none;
		}
	}

	li {
		margin-top: 1em;
		margin-left: 5%;
	}

	.resume-l {
		max-width: 60%;
		float: left;
		padding-right: 15%;
	}

	.resume-r {
		max-width: 40%;
		float: left;
	}
}