%font-copy {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
}

%font-title {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 900; 
}

%font-blockquote {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400; 
}

%white,
.white {
	color: white;
}

%orange,
.orange {
	color: $color--orange;

	a {
		color: $color--orange;
		&:hover {
			color: white;
			background-color: $color--orange;
		}
	}
	
	.cs--inverted {
		background-color: $color--orange;
		@extend %white;
	}

	blockquote span {
		color: $color--orange;
	}
}

%gold,
.gold {
	color: $color--gold;

	a {
		color: $color--gold;
		&:hover {
			color: white;
			background-color: $color--gold;
		}
	}
	
	.cs--inverted {
		background-color: $color--gold;
		@extend %white;
	}

	blockquote span {
		color: $color--gold;
	}
}

%blue,
.blue {
	color: $color--blue;

	a {
		color: $color--blue;
		&:hover {
			color: white;
			background-color: $color--blue;
		}
	}
	
	.cs--inverted {
		background-color: $color--blue;
		@extend %white;
	}

	blockquote span {
		color: $color--blue;
	}
}

body {
	@extend %font-copy;
	font-size: 16px;
}

h1,
h2,
h3 {
	@extend %font-title;
}

h1 {
	@include fontsize(48);
}

blockquote {
	@extend %font-blockquote;
	@include fontsize(24);
	max-width: 800px;
	margin: 1.5em 0;
	color: $color--copy;

}

%center-contain,
.center-contain {
	text-align: center;
}

.cs--inverted {
	margin: 1em auto 1.5em;
	display: inline-block;
	padding: 0.2em 0.5em;
}

a {
	@include transition-duration(0.5s);
	text-decoration: none;
	padding: 0 0.2em;
}

h2 {
	@include fontsize(42);
}

p {
	color: $color--copy;
}

h3 {
	@include fontsize(16);
	line-height: 2;
	color: white;
	.marked {
		@extend %font-copy;
		@include fontsize(12);
		color: $color--copy;
	}
}