%font-copy {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
}

%font-title {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 900; 
}

%white,
.white {
	color: white;
}

%orange,
.orange {
	color: $color--orange;
}

%gold,
.gold {
	color: $color--gold;
}

%blue,
.blue {
	color: $color--blue;
}

body {
	@extend %font-copy;
	font-size: 16px;
}

h1,
h2,
h3 {
	@extend %font-title;
}

h1 {
	@include fontsize(60);
}

h3 {
	@include fontsize(16);
	line-height: 2;
	color: white;
	.marked {
		@extend %font-copy;
		@include fontsize(12);
		color: $color--copy;
	}
}