@font-face {
	font-family: 'Ampersand';
	font-weight: 700;
	src:  local('Oleo Script Swash Caps Bold'), local('OleoScriptSwashCaps-Bold'), url(http://themes.googleusercontent.com/static/fonts/oleoscriptswashcaps/v2/HMO3ftxA9AU5floml9c756HPCue0Y9p7kwQ7JKlwkwmzty3XAGWFpfUour78S_ql.woff) format('woff'), local('Oleo Script Swash Caps'), local('Baskerville'), local('Palatino'), local('Book Antiqua');
	unicode-range: U+26;
}


@font-face {
	//fallback
	font-family: 'Ampersand';
	src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(http://themes.googleusercontent.com/static/fonts/alegreyasanssc/v1/AjAmkoP1y0Vaad0UPPR462eUmuPaexXbuJ2iMbM_ZTs.woff) format('woff');
	unicode-range: U+270C;
}

%font-copy {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
}

%font-title--amp {
	font-family: Ampersand, 'Alegreya Sans SC', sans-serif;
	font-weight: 900; 
}

%font-title {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 900; 
}

%font-blockquote {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400; 
}

.uppercase,
%uppercase {
	text-transform: uppercase;
}

.lowercase,
%lowercase {
	text-transform: lowercase;
}


%white,
.white {
	color: white;
}

%clearfix,
.clearfix {
	clear: both;
}

@mixin color-specific($var-name) {
	color: $var-name;

	a {
		color: $var-name;
		border-bottom: 1px solid $var-name;
		
		&:hover {
			color: white;
			background-color: $var-name;
		}

		&.inverted:hover {
			background-color: white;
			color: $var-name;
		}
	}

	h3 {
		color: $var-name;
	}

	li {
		color: $color--copy;
	}
	
	.inverted {
		background-color: $var-name;
		@extend %white;
	}

	p {
		color: $color--grey;
	}

	span:not(.marked) {
		border-bottom: 1px solid $var-name;
	}

	blockquote span {
		color: $var-name;
	}

	.bullets li:before {
		color: $var-name;
	}

	.slidesjs-pagination-item a{
		border: 2px solid $var-name;
		&.active {
			background-color: $var-name;
		}
	}
}

%orange,
.orange {
	@include color-specific(tomato);
}

%orange,
.orange {
	@include color-specific(tomato);
}

%gold,
.gold {
	@include color-specific(gold);
}

%blue,
.blue {
	@include color-specific(cornflowerblue);
}

%pink,
.pink {
	@include color-specific(hotpink);
}

body {
	@extend %font-copy;
	font-size: 16px;
}

//bc Firefox doesn't support unicode-range
.chrome h1,
.chrome h2,
.chrome h3,{
	@extend %font-title--amp;
}

h1,
h2,
h3 {
	@extend %font-title;
}

h1 {
	@include fontsize(48);
	
	@include breakpoint($tab-horiz) {
		@include fontsize(42);
	}
	@include breakpoint($small-tab) {
		@include fontsize(36);
	}
	@include breakpoint($phone-horiz) {
		@include fontsize(28);
	}
	@include breakpoint($phone-vert) {
		@include fontsize(20);
	}

}

blockquote {
	@extend %font-blockquote;
	@extend %clearfix;
	@include fontsize(24);
	max-width: 800px;
	margin: 1.5em 0;
	color: $color--copy--dark;
	
	@include breakpoint($tab-horiz) {
		@include fontsize(20);
	}
	@include breakpoint($small-tab) {
		@include fontsize(18);
	}
	@include breakpoint($phone-horiz) {
		@include fontsize(16);
	}
	@include breakpoint($phone-vert) {
		@include fontsize(14);
	}
	
	&:not(.push) {
		position: relative;
		z-index: 2;
		margin-bottom: -1.5em;
	}

	.narrow-quote {
		max-width: 500px;
	}
}

%center-contain,
.center-contain {
	text-align: center;
}

.cs--inverted {
	@extend .inverted; //must extend class bc the class is generated by the color
	margin: 1em auto 1.5em;
	display: inline-block;
	padding: 0.2em 0.5em;
}

a {
	@include transition-duration(0.5s);
	text-decoration: none;
	padding: 0 0.2em;
}

h2 {
	@include fontsize(42);
	@include breakpoint($tab-horiz) {
		@include fontsize(36);
	}
	@include breakpoint($small-tab) {
		@include fontsize(28);
	}
	@include breakpoint($phone-horiz) {
		@include fontsize(24);
	}
}

p {
	color: $color--copy;
	
	&.center {
		max-width: 600px;
		-ms-text-align: left;
		text-align: left;
	}
}

a {
	@extend %font-title;
}

h3 {
	@include fontsize(16);
	line-height: 2;
	color: white;
	z-index: 2;
	position: relative;
	
	.marked {
		@extend %font-copy;
		@include fontsize(12);
		color: $color--copy;
		
		@include breakpoint($tab-horiz) {
			@include fontsize(8);
		}
		@include breakpoint($phone-horiz) {
			@include fontsize(6);
		}
	}

	@include breakpoint($tab-horiz) {
		@include fontsize(12);
	}
	@include breakpoint($phone-horiz) {
		@include fontsize(10);
	}
}

small {
	font-size: 60%;
	color: $color--copy;
	@extend %font-copy; 
}

.hljs {
	font-family: 'Courier New', 'Courier' monotype;
	padding: 1em 0 2em;
	overflow: scroll;
	
	span {
		border-bottom: none;
		padding-bottom: 1em;
	}
}

code,
pre {
	overflow: scroll;
	max-width: 100%;
}