// COLORS!!

$color--orange: tomato; // #ff6347 rgb(255,99,71)
$color--blue: cornflowerblue; // #6495ed rgb(100,149,237)
$color--gold: gold; // #ffd700 rgb(255,215,0)
$color--grey: dimgray; // #696969 rgb(105,105,105)
$color--offwhite: lemonchiffon; // #fffacd rgb(255,250,205)