.edible {

	.magnify {width: 100%; margin: 0 auto; position: relative;}

	.large {
		width: 250px; height: 250px;
		position: absolute;
		border-radius: 100%;
		
		box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
		0 0 7px 7px rgba(0, 0, 0, 0.25), 
		inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
		
		background: url('../images/edible-rebrand/concat-full-withbg.png') no-repeat;
		display: none;
	}

	.small { display: block; }

}