@font-face {
	font-family: 'Ampersand';
	font-weight: 700;
	src:  local('Oleo Script Swash Caps Bold'), local('OleoScriptSwashCaps-Bold'), url(http://themes.googleusercontent.com/static/fonts/oleoscriptswashcaps/v2/HMO3ftxA9AU5floml9c756HPCue0Y9p7kwQ7JKlwkwmzty3XAGWFpfUour78S_ql.woff) format('woff'), local('Oleo Script Swash Caps'), local('Baskerville'), local('Palatino'), local('Book Antiqua');
	unicode-range: U+26;
}

@font-face {
	//fallback
	font-family: 'Ampersand';
	src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(http://themes.googleusercontent.com/static/fonts/alegreyasanssc/v1/AjAmkoP1y0Vaad0UPPR462eUmuPaexXbuJ2iMbM_ZTs.woff) format('woff');
	unicode-range: U+270C;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-6522iq');
	src:url('../fonts/icomoon.eot?#iefix-6522iq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-6522iq') format('woff'),
		url('../fonts/icomoon.ttf?-6522iq') format('truetype'),
		url('../fonts/icomoon.svg?-6522iq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$icons: (
	dribbble: "\e601",
	twitter: "\e602",
	github: "\e603",
	paragraph-left: "\e604",
	github2: "\66",
	github3: "\e605",
	facebook: "\e607",
	facebook2: "\e608",
	facebook3: "\e609",
	mail: "\e60a",
	console: "\e60b",
	instagram: "\e60c",
	twitter2: "\e60d",
	pen: "\e60e",
	quotes-left: "\e60f",
	vimeo: "\e610",
	dribbble2: "\e611",
	tumblr: "\e612",
	trophy: "\e613",
	mug: "\e614",
	settings: "\e615",
	pencil: "\e616",
	mobile: "\e617",
	mobile2: "\e618",
	tablet: "\e619",
	tv: "\e61a",
	stats: "\e61b",
	crop: "\e61c",
	pilcrow: "\e61d",
	code: "\e61e",
	file-xml: "\e61f",
	linkedin: "\e620",
	checkmark: "\e621",
	close: "\e622",
	phone: "\e623",
	profile: "\e624",
	bubbles: "\e600",
	book: "\e626",
	codepen: "\e606",
	mail2: "\e625",
	arrow-left: "\e627",
	arrow-right: "\e628",
);

@each $name, $visual in $icons {
    .icon-#{$name}:before {
        content: $visual;
    }
}

//Specifying Font Families
%font-copy {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
}

%font-title--amp {
	font-family: Ampersand, 'Alegreya Sans SC', sans-serif;
	font-weight: 900; 
}

%font-title {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 900; 
}

%font-title-sm {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 800; 
}

%font-blockquote {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400; 
}


//Font style helpers
.uppercase,
%uppercase {
	text-transform: uppercase;
}

.lowercase,
%lowercase {
	text-transform: lowercase;
}

.italic,
%italic {
	font-style: italic;
}

h1,
h2,
h3,
h4,
blockquote,
p {
	@include breakpoint($page-container) {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

@mixin color-specific($var-name) {
	color: $var-name;

	a {
		color: $var-name;
		
		&:hover {
			@extend %white;
			background-color: $var-name;
		}

		&.inverted:hover {
			background-color: white;
			color: $var-name;
		}

		&.pull-link {
			border-bottom: none;
		}
	}

	h3 {
		color: $var-name;
	}

	li {
		color: $color--copy;
	}

	p {
		color: $color--grey;
	}

	span:not(.marked) {
		border-bottom: 1px solid $var-name;
	}

	.hljs span {
		border-bottom: none;
	}

	blockquote {
		&:not(.inverted) span {
			color: $var-name;
		}

		&.inverted span {
			color: $color--copy;
		}
	}

	.bullets li:before {
		color: $var-name;
	}

	.slidesjs-pagination-item a{
		border: 2px solid $var-name;
		&.active {
			background-color: $var-name;
		}
	}

	.inverted {
		background-color: $var-name;
		@extend %white;
	}
}

//bc Firefox doesn't support unicode-range
.chrome h1,
.chrome h2,
.chrome h3,{
	@extend %font-title--amp;
}

.chrome h3 {
	font-weight: 800;
}

blockquote {
	@extend %font-blockquote;
	@extend %clearfix;
	@include fontsize(24);
	max-width: 800px;
	margin: 1.5em 0;
	color: $color--copy--dark;
	
	@include breakpoint($tab-horiz) {
		@include fontsize(20);
	}
	@include breakpoint($small-tab) {
		@include fontsize(18);
	}
	@include breakpoint($phone-horiz) {
		@include fontsize(16);
	}
	@include breakpoint($phone-vert) {
		@include fontsize(14);
	}

	.narrow-quote {
		max-width: 500px;
	}
}

//Breakpoints for fonts
h1 {
	@include fontsize(48);
	@extend %font-title;
	
	@include breakpoint($tab-horiz) {
		@include fontsize(42);
	}
	@include breakpoint($small-tab) {
		@include fontsize(36);
	}
	@include breakpoint($phone-horiz) {
		@include fontsize(28);
	}
	@include breakpoint($phone-vert) {
		@include fontsize(20);
	}

}

h2 {
	@include fontsize(42);
	@extend %font-title;

	@include breakpoint($tab-horiz) {
		@include fontsize(36);
	}
	@include breakpoint($small-tab) {
		@include fontsize(28);
	}
	@include breakpoint($phone-horiz) {
		@include fontsize(24);
	}
}

h3 {
	@extend %font-title-sm;
	@include fontsize(16);
	font-weight: 800;
	line-height: 2;
	color: white;
	z-index: 2;
	position: relative;
	
	.marked {
		@extend %font-copy;
		@include fontsize(12);
		color: $color--copy;
		
		@include breakpoint($tab-horiz) {
			@include fontsize(8);
		}
		@include breakpoint($phone-horiz) {
			@include fontsize(6);
		}
	}

	@include breakpoint($tab-horiz) {
		@include fontsize(12);
	}
	@include breakpoint($phone-horiz) {
		@include fontsize(10);
	}
}

p {
	color: $color--copy;
	line-height: 1.6;
	
	&.center {
		max-width: 600px;
		-ms-text-align: left;
		text-align: left;
	}
}

a {
	@extend %font-blockquote;
	@include transition-duration(0.5s);
	padding: 0 0.2em;
}

small {
	@extend %font-copy; 
	font-size: 70%;
	color: $color--copy;
}