.marked {
	background: white;
	margin: 0.2em 0.3em;
	padding: 0.2em 0.5em;
}

.cs__intro-section {
	height: 600px;
	width: 100%;
	
	h1 {
		margin: 1em 0 0;
	}
}

.cs__intro-bg {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
	z-index: -1;
	
	img, 
	.shader {
		position: absolute; 
		top: 0; 
		left: 0; 
		right: 0; 
		bottom: 0; 
		margin: auto; 
		min-width: 50%;
		min-height: 50%;
	}
}

.shader {
	background-color: rgba(0,0,0,0.7);
}

%half,
.half {
	width: 50%;
	float: left;
	
	@include breakpoint($small-tab) {
		clear: both;
		width: 100%;
		margin: 0 auto;
	}
}

.cs-main {
	width: 100%;
	background: white;
	display: block;
	padding-bottom: 1em; //kinda hacky
	
	img:not(.cs--top-image) {
		max-width: 100%;
		margin-top: 1em;
		margin-bottom: 3em;
		display: block;
		
		&.right,
		&.left {
			
			@include breakpoint($layout-break) {
				padding-left: 0;
				padding-right: 0;
				float: none;
				margin: 0 auto;
			}
		}

		&.half-l {
			max-width: 48%;
			float: left;
			margin-right: 2%;

			@include breakpoint($small-tab){
				clear: both;
				max-width: 100%
			}
		}

		&.half-r {
			max-width: 48%;
			float: right;
			margin-left: 2%;

			@include breakpoint($small-tab){
				clear: both;
				max-width: 100%
			}
		}
	}

	ul,
	ol {
		@include breakpoint($page-container) {
			margin-left: 2rem;
		}
	}
	
	h2 {
		margin-bottom: 0.5em;
	}

	p {
		max-width: 650px;
		@include fontsize(12);
		line-height: 1.6;
		
		&.clear-max {
			max-width: none;
		}

		@include breakpoint($phone-horiz) {
			@include fontsize(10);
		}
	}
}

ul,
ol {
	@include fontsize(12);

	@include breakpoint($phone-horiz) {
		@include fontsize(10);
	}
}

.bullets {
	margin: 1em 0;

	li {
		margin-left: 1em;
		line-height: 1.5;
	}

	li:before {
		content: "• ";
	}
}

.cs--top-image {
	margin-top: -400px;
	max-width: 90%;
}

%clear-max,
.clear-max {
	max-width: none;
}

.slidesjs-pagination-item:first-child {
	margin-left: 50%;
}

.slidesjs-pagination-item a {
	display: inline-block;
	width: 15px;
	float: left;
	height: 15px;
	background-color: white;
	border-radius: 50%;
	margin: 20px 5px;
	text-indent: -99999px;
}

.slider {
	display:none;
	margin: 4em 0;
}

.js-invert {
	@include transition-duration(1s);
}

.pull-link {
	@extend .inverted;
	@include fontsize(18);
	margin: 2em auto;
	display: inline-block;
	text-align: center;
	padding: 0.2em 0.7em;
}

.other-l {
	max-width: 48%;
	float: left;
	margin-right: 2%;

	@include breakpoint($small-tab){
		clear: both;
		max-width: 100%
	}
}

.other-r {
	max-width: 48%;
	float: right;
	margin-left: 2%;

	@include breakpoint($small-tab){
		clear: both;
		max-width: 100%;
	}
}

.max-60 {
	width: 60%;
	
	@include breakpoint($small-tab){
		clear: both;
		width: auto;
		max-width: 100%;
	}
}

.max-70 {
	width: 70%;
	
	@include breakpoint($small-tab){
		clear: both;
		width: auto;
		max-width: 100%;
	}
}

.max-40 {
	width: 40%;
	
	@include breakpoint($small-tab){
		clear: both;
		width: auto;
		max-width: 100%;
	}
}

.third-piece {
	width: 31%;
	float: left;
	margin-right: 2%;
	
	&.last {
		margin-right: 0;
	}
	
	@include breakpoint($small-tab){
		clear: both;
		width: auto;
		max-width: 100%;
	}
}

.max-half {
	width: 51%;
	
	@include breakpoint($small-tab){
		clear: both;
		width: auto;
		max-width: 100%;
	}
}

.cs--inverted {
	margin-bottom: 2em;
}

.hljs {
	font-family: 'Courier New', 'Courier' monotype;
	padding: 1em 0 2em;
	
	span {
		border-bottom: none;
		padding-bottom: 1em;
	}
}

code,
pre {
	overflow: auto;
	max-width: 100%;
}

.push-top {
	margin-top: 5em;
}

.push-bottom {
	margin-bottom: 5em;
}

p.caption {
	@extend %italic;
	text-align: center;
	margin: 0.5em auto;
}

.pagination-arrows {
	a{
		display: block;
		position: fixed;
		padding: 0.5em;
		@include fontsize(16);
		top: 50%;
		background: rgba(105,105,105,0.9);
		color: white;
		text-decoration: none;
		
		&:hover {
			background-color: white;
			color: dimgrey;
		}
	}
	.icon-arrow-left {
		left: 0;
	}
	.icon-arrow-right {
		right: 0;
	}
}