.marked {
	background: white;
	margin: 0.2em 0.3em;
	padding: 0.2em 0.5em;
}

.cs__intro-section {
	height: 600px;
	width: 100%;
	
	h1 {
		margin: 1em 0 0;
	}
}

.cs__intro-bg {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
	z-index: -1;
	
	img, 
	.shader {
		position: absolute; 
		top: 0; 
		left: 0; 
		right: 0; 
		bottom: 0; 
		margin: auto; 
		min-width: 50%;
		min-height: 50%;
	}
}

.shader {
	background-color: rgba(0,0,0,0.8);
}

.cs-main {
	width: 100%;
	background: white;
	display: block;
	
	h2 {
		max-width: 800px;
		margin-bottom: 0.5em;
	}

	p {
		max-width: 600px;
		@include fontsize(12);
		line-height: 1.4;
	}

	a {
		@extend %font-title;
	}
}

.cs--top-image {
	img {
		margin-top: -300px;
	}
}