.statistic {
	max-width: 200px;
	float: left;
	text-align: center;
	margin: 2em 0.5em;
	
	h2 {
		margin-bottom: 0;
	}
}

.fannotate blockquote {
	margin-bottom: 2em;
	max-width: 830px;
}

// Prevents slides from flashing 
.slider {
	display:none;
}