$hp-colors: (
	book-1: (#880FB5, #F7931E, #FFCF7B, #FBB08A), 
	book-2: (#12687C, #87FFFF, #D9E021 , #F4F198), 
	book-3: (#261410, #00A99D, #AADD7E, #BFDDC4), 
	book-4: (#D16A02, #9B0202, #A7D8FF, #EEFBFF)
);