//COMPASS SETUP
$contrasted-lightness-threshold: 50%;
@import "compass/utilities/color/contrast";

//COLOR BOXES IN STYLEGUIDE
.color-box {
	display: inline-block;
	margin: 1%;
	padding: 4%;
	text-align: center;
	vertical-align: top;
	width: 46%;
	&:before, &:after {
	   display: block;
	   margin: 0.5em;
	}
}

$colors: (
	tomato rgb(255,99,71) 'rgb(255,99,71)',
	'cornflowerblue' rgb(100,149,237) 'rgb(100,149,237)',
	gold rgb(255,215,0) 'rgb(255,215,0)',
	dimgrey rgb(105,105,105) 'rgb(105,105,105)'
);

@each $color in $colors {
	$var-namr: nth($color, 1);
	$hex: nth($color, 2);
	$css-name: nth($color, 3);
	.color-box.#{$var-namr} {
		@include contrasted($hex);
		&:before {
			content: '#{$var-namr}';
		}
		&:after {
			content: '#{$css-name}';
		}
	}
}