<!doctype html>
<html>
<head>
	<meta name="description" content="{{ site.description }}">
	<meta charset="UTF-8">
	<title> {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>

	<!-- MOBILE SETTINGS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="white" />

	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900|Open+Sans:400italic,400,700,300|Oleo+Script+Swash+Caps:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="stylesheets/style.css">

	<!-- Google Analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36758177-1']);
	  _gaq.push(['_setDomainName', 'unakravets.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<script src="../js/vendor/jquery-1.11.0.min.js"></script>

</head>
<body>


{% include nav.html %}
	<section>
	  {{ content }}
	</section>
	{% include cs-footer.html %}
	</main>
</html>
