<!doctype html>
<html>
<head>
	<meta name="description" content="{{ site.description }}">
	<meta charset="UTF-8">
	<title> {% if page.title %} {{ page.title }} | {% endif %} Una Kravets</title>

	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900|Open+Sans:400italic,400,700,300|Oleo+Script+Swash+Caps:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../stylesheets/style.css">

	<!-- MOBILE SETTINGS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="white" />

	<!-- including jquery link in head bc slider size unique to each page, and I have to put it in the post file -->
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

	<!-- Google Analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36758177-1']);
	  _gaq.push(['_setDomainName', 'unakravets.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

</head>
<body>

{% include nav.html %}
{% include cs-header.html %}
		<section class="contain-1100">
			{{ content }}
		</section>
	</main>
{% include cs-footer.html %}
