<!doctype html>
<html>
<head>
	<meta name="description" content="{{ site.description }}">
	<meta charset="UTF-8">
	<title> {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>

	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900|Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../stylesheets/style.css">

</head>
<body>

{% include nav.html %}
{% include cs-header.html %}
		<section class="contain-1100">
			{{ content }}
		</section>
	</main>
{% include cs-footer.html %}
