body {
	margin: 0;
	padding: 0;
	@extend %font-copy;
	font-size: 16px;
}

* {
	@include box-sizing(border-box);
}

::selection {
	color: white;
	background: $color--hotpink;
}

::-moz-selection {
	color: white;
	background: $color--hotpink;
}

.row {
	overflow: hidden;
	position: relative;
	width: 100%
}

hr {
	margin: 1em 0 3em;
	top: 1px solid $color--copy;
	bottom: 0px solid transparent;
}

.js-fadeIn {
	@include transition-duration(0.8s);
	opacity: 0;
}